.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(251, 250, 250);
  /* border-bottom: 1px solid black; */
}

.hidden{
  display: flex;
  gap: 20px;
}

.Left-nav{
  display: flex; 
  width: 30%;
  justify-content: space-evenly;
}

.Left-nav a{
  text-decoration: none;
  color: rgb(40, 116, 30);
  font-weight: 600;
}

.Left-nav img{
width: 100px;
}

.Right-nav{
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.Right-nav button{
  margin-right: 50px;
  width: 80px;
  height: 40px;
  color: aliceblue;
  font-weight: 600;
  background-color: orange;
  opacity: 1;
  transition: 0.3s;
}

.Right-nav button:hover{
  opacity: 0.6;
  color: aliceblue;
}

.Right-nav img{
  width: 30px;
}

@media only screen and (max-width: 768px) {
  .Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(251, 250, 250);
    /* border-bottom: 1px solid black; */
  }
  .hidden{
    display: none;
    gap: 20px;
  }

  .Right-nav{
    display: none;
    gap: 20px;
    margin-right: 50px;
  }

}